
/****** Object:  Table [dbo].[AZIENDA]    Script Date: 07/02/2021 11:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AZIENDA](
	[A_ID] [int] NOT NULL,
	[A_RAGSOC] [varchar](200) NULL,
 CONSTRAINT [PK_AZIENDA] PRIMARY KEY CLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIPENDENTI]    Script Date: 07/02/2021 11:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIPENDENTI](
	[D_ID] [int] NOT NULL,
	[A_ID] [int] NULL,
	[D_NOMECOGN] [varchar](200) NULL,
 CONSTRAINT [PK_DIPENDENTI] PRIMARY KEY CLUSTERED 
(
	[D_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO]    Script Date: 07/02/2021 11:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO](
	[E_ID] [int] NOT NULL,
	[A_ID] [int] NULL,
	[E_DATA] [date] NULL,
	[E_ORAI] [time](7) NULL,
	[E_ORAF] [time](7) NULL,
 CONSTRAINT [PK_EVENTO] PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO_PARTECIPANTI]    Script Date: 07/02/2021 11:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO_PARTECIPANTI](
	[E_ID] [int] NOT NULL,
	[D_ID] [int] NOT NULL,
 CONSTRAINT [PK_EVENTO_PARTECIPANTI] PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC,
	[D_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIPENDENTI]  WITH CHECK ADD  CONSTRAINT [FK_DIPENDENTI_AZIENDA] FOREIGN KEY([A_ID])
REFERENCES [dbo].[AZIENDA] ([A_ID])
GO
ALTER TABLE [dbo].[DIPENDENTI] CHECK CONSTRAINT [FK_DIPENDENTI_AZIENDA]
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_AZIENDA] FOREIGN KEY([A_ID])
REFERENCES [dbo].[AZIENDA] ([A_ID])
GO
ALTER TABLE [dbo].[EVENTO] CHECK CONSTRAINT [FK_EVENTO_AZIENDA]
GO
ALTER TABLE [dbo].[EVENTO_PARTECIPANTI]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_PARTECIPANTI_DIPENDENTI] FOREIGN KEY([D_ID])
REFERENCES [dbo].[DIPENDENTI] ([D_ID])
GO
ALTER TABLE [dbo].[EVENTO_PARTECIPANTI] CHECK CONSTRAINT [FK_EVENTO_PARTECIPANTI_DIPENDENTI]
GO
ALTER TABLE [dbo].[EVENTO_PARTECIPANTI]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_PARTECIPANTI_EVENTO] FOREIGN KEY([E_ID])
REFERENCES [dbo].[EVENTO] ([E_ID])
GO
ALTER TABLE [dbo].[EVENTO_PARTECIPANTI] CHECK CONSTRAINT [FK_EVENTO_PARTECIPANTI_EVENTO]
GO
